/* ---------------------------------------------

Custom Styles

----------------------------------------------*/

body {
    font-family: 'Open Sans', Helvetica;
    text-align: center;
}

body.container-fluid {
    padding: 0;
}

/* ---------------------------------------------

Navigation

----------------------------------------------*/

.navbar-header {
    padding: 15px 5px;
}

nav,
.navbar-default {
    margin: 0;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 1px 1px 2px rgb(208,212,217);
}

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}

.navbar-default .navbar-collapse {
    padding: 20px 0;
    overflow-x: hidden;
}

.navbar-default .navbar-brand,
.navbar-brand {
    font-size: 1.85em;
    font-weight: bold;
    color: #0071e0;
    text-shadow: .5px .5px 1px rgba(0,0,255,0.25);
    letter-spacing: -1px;
}

@media only screen and (max-width: 991px) {

    .navbar-default .navbar-collapse ul li {
        text-align: left;
    }

    .navbar-default .navbar-collapse ul li {
        margin: 15px;
    }
    .navbar-default .navbar-collapse ul li:first-child,
    .navbar-default .navbar-collapse ul {
        margin-top: 0;
    }
    .navbar-default .navbar-collapse ul li:last-child {
        margin-bottom: 5px;
    }

    .navbar-default .navbar-collapse button {
        padding: 7px 100px;
        background-color: #0070e0;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
    }
    .navbar-default .navbar-collapse button:hover {
        background-color: #0070ff;
    }
}

/* ---------------------------------------------

Main

----------------------------------------------*/

div.container {
    padding: 80px 0 20px 0;
    width: 100%;
    background: #e3eefc;
/*
    background: url("../../images/background--db-vfl4SbjZf.jpg");
    background-size: cover;
*/
}

/* ---------------------------------------------

Main text

----------------------------------------------*/

.main-text {
    padding: 25px 55px;
}

.main-text h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.19em;
    margin: 28px 0 18px 0;
}

.main-text p {
    font-size: 17px;
    font-weight: 300;
}

.main-text a.btn {
    margin: 31px 0 18px 0;
    padding: 13px 40px;
    border-radius: 5px;
    
    font-size: 16px;
    
    background-color: #0071e0;
    border: none;
}
.main-text a.btn:hover {
    background-color: rgba(0,113,224,0.75);
}

p.para-secondary {
    font-weight: 500;
}
p.para-secondary a {
    text-decoration: underline;
    color: #0071e0;
}
p.para-secondary a:hover {
    color: rgba(0,113,224,0.75);
}

@media only screen and (min-width: 992px) {
    nav.navbar.navbar-fixed-top.navbar-default {
        height: 80px;
    }
    
    .navbar-default .navbar-collapse {
        padding: 20px 0;
    }
    
    .main-text {
        padding: 50px;
    }
    
    .main-text h1 {
        font-size: 48px;
    }
    
    .main-text p {
        margin: 25px auto;
        padding: 0 350px;
        font-size: 20px;
    }
    
    .main-text a.btn {
        font-size: 20px;
    }
    
    .main-text p.para-secondary {
        font-size: 16px;
        margin: 0 auto;
    }
}