body {
    font-family: 'Open Sans', Helvetica;
    text-align: center;
}

body.container-fluid {
    padding: 0;
}

.navbar-header {
    padding: 15px 5px;
}

nav,
.navbar-default {
    margin: 0;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.navbar-default .navbar-brand,
.navbar-brand {
    font-size: 1.85em;
    font-weight: bold;
    color: blue;
    text-shadow: .5px .5px 1px rgba(0,0,255,0.25);
    letter-spacing: -1px;
}

div.container {
    padding: 80px 0;
    background: url("../../images/background--db-vfl4SbjZf.jpg");
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    div.navbar-right {
        margin: 10px 0;
    }
}