body {
    text-align: center;
}

header {
    width: 100%;
    background: url("../../images/hero_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid rgba(255,255,255,0.75);
}

nav h2 {
    text-align: left;
}

h1 {
    padding: 225px 0;
}