*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: inherit;
    text-align: center;
    min-width: 1028px;
    color: #fff;
}

header {
    width: 100%;
    background: url("../../images/hero_image.jpg");
    background: linear-gradient(to bottom, rgba(0,0,0,0.45), rgba(0,0,0,0)), url("../../images/hero_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

/* ---------------------------------------------------------------------

nav layout

---------------------------------------------------------------------- */

.nav-container {
    position: relative;
    
    width: 100%;
    height: 72px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
    z-index: 1;
    background: transparent;
}

.nav-el {
    display: inline-block;
    padding: 0;
    
    float: left;
    margin: 0 2.3%;
    height: 100%;
    position: relative;
}
.nav-el:first-child,
.nav-el:last-child {
    width: 18%;
}
.nav-el:nth-child(2) {
    width: 50%;
}

.logo h2 {
    position: absolute;
    top: 50%;
    left: 0;
    
    line-height: 72px;
    transform: translateY(-50%);
/*    padding-top: 20px;*/
/*    height: 42px;*/
}

.nav ul,
.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li,
.dropdown ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav ul {
    height: 100%;
}

.nav ul li {
    float: left;
    height: 100%;
    line-height: 72px;
    width: 19%;
    margin: 0 2.5%;
    letter-spacing: 0.5px;
}
.nav ul li:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

/* down arrow */
.li-pers:after,
.li-busi:after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    position: relative;
    top: -4px;
    left: 6px;
    border: 1px solid #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    
    transform: rotate(45deg);
    transition: all 0.25s linear;
}
.li-selected:after { /* class added onclick js */
    transform: rotate(-137.5deg);
    top: 1px;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    right: 0;
        
    height: 100%;
    line-height: 72px;
    transform: translateY(-50%);
}

.btn-default {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 50px;
    padding: 9px 21px;
    border-color: #fff;
}
.btn-default:hover {
    background-color: #fff;
    border-color: #fff;
}
.btn-default:first-child {
    background-color: transparent;
    color: #fff;
    margin-right: 2px;
}
.btn-default:first-child:hover {
    background-color: transparent;
}

.main-text {
    display: none;
    
    position: absolute;
    top: 50%;
    left: 45%;
    
    line-height: 550px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------------------------

nav styles

---------------------------------------------------------------------- */

.logo h2 {
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

.nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a:active {
    text-decoration: none;
}

.dropdown {
    display: none;
}

/* ---------------------------------------------------------------------

dropdown layout

---------------------------------------------------------------------- */

.dd-personal,
.dd-business {
    min-width: 1028px;
    width: 100%;
    height: 240px;
    
    position: absolute;
    top: 0;
    
    background-color: rgba(0,0,0,0.4);
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
}

.dd-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin-top: 90px;
    margin-left: 8%;
    width: 100%;
}

.dd-list li {
/*    margin: 1.5% 10%;*/
/*    width: 342px;*/
    width: 30%;
    height: 70px;
    float: left;
}
.dd-list li:nth-child(4) {
    clear: left;
}

/* ---------------------------------------------------------------------

dropdown styles

---------------------------------------------------------------------- */

.dd-list li a {
    color: #fff;
    letter-spacing: 0.5px;
}

.dd-list span {
    display: block;
    margin-top: 4px;
    font-size: 11px;
}
/* css x */
.dd-close {
    display: block;
    position: absolute;
    right: 2.3%;
    top: 99px;
    
    width: 30px;
    height: 30px;
}
.dd-close span {
    display: block;
    width: 110%;
    height: 2px;
    background-color: #fff;
    position: relative;
    top: 12.5px;
    left: -1px;
}
.dd-close span:first-child {
    transform: rotate(45deg);
}
.dd-close span:last-child {
    transform: rotate(-45deg) translate(1px, -2px);
}