body {
    text-align: center;
}

header {
    width: 100%;
    background: url("../../images/hero_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

.nav-container {
    border-bottom: 1px solid rgba(255,255,255,0.75);
    width: 100%;
    padding: 20px 0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: inherit;
}
.navigation ul li {
    margin-right: 15px;
}
.navigation ul li:last-child {
    margin-right: 0;
}



h1 {
    padding: 225px 0;
}