*,
*:before,
*:after {
    box-sizing: border-box;
}

/* ------------------------------------------------------

custom styles

------------------------------------------------------ */

.container {
    font-family: 'Open sans', sans-serif, Helvetica;
    padding: 50px 20px;
}

.row {
    margin-top: 15px;
}
.row:first-child {
    margin-top: 0;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: #6b7c93;
    line-height: 27px;
}

a {
    font-weight: 500;
    color: #6772e5;
}
a:hover {
    text-decoration: none;
}

/* ------------------------------------------------------

headers

------------------------------------------------------ */


h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

/* ------------------------------------------------------

images

------------------------------------------------------ */


h1 img {
    height: 28px;
    width: 28px;
    margin-right: 5px;
}

/* ------------------------------------------------------

custom classes

------------------------------------------------------ */


.para-secondary {
    color: #24b47e;
    font-size: 22px;
    margin-top: 25px;
}

/* ------------------------------------------------------

media queries

------------------------------------------------------ */

@media only screen and (min-width: 768px) { /* tablets */
    
    .container {
        margin: 0;
        padding: 50px 15px;
    }
    
    .col-sm-9 {
        padding-right: 20px;
    }
    
    p {
        border-right: 1px solid rgba(0,0,0,.05);
    }
    
    .para-secondary,
    div.row:first-child p {
        border-right: none;
    }
    
    .div-para-secondary {
        padding-top: 37px;
        margin: 0;
        display: flex;
        
        justify-content: left;
    }
}

@media only screen and (min-width: 992px) { /* desktop */
    
    .container {
        margin: 0 auto;
        padding: 50px;
    }
    
    .para-secondary {
        margin-top: 0;
    }
    .div-para-secondary {
        
    }
    
    .dtop-img {
        display: flex;
        justify-content: flex-end;
    }
    
    .dtop-flex {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    
}